.shortGeo .yasr .yasr_results .leaflet {
  height: 332px;
}
.dataTable-sorter::before {
  display: none;
}
.dataTable-sorter::after {
  display: none;
}
.dataTable-sorter {
  text-transform: capitalize;
}
